body {
    color:rgb(56, 56, 56);
    font-family: 'Inter', sans-serif;
}

p {
    color: rgb(45, 3, 3);
    font-size: 14px;
  }
nav {
    background-color: bisque;
}
nav ul {
    font-size: 1.3em;
    font-weight: 600;
}
nav ul a {
    color: rgb(32, 32, 32);
}
h1 {
    font-size: 3em;    
}
h2 {
    font-size: 2.5em;
}
h3 {
font-size: 2em;
}
footer {
    background-color: rgb(203, 203, 203);
    padding: 20px;
}

footer p{
    color:black;
}
  